<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masyn Web Chat Widget</title>
    <script conversation_id='test_id' async src="/static/chat-widget-fb.js"></script>
</head>
<body class="bg-yellow-100">
    <div class="flex flex-col items-center p-8 justify-center w-5xl h-screen md:text-center md:w-3xl ">
        <div>
            <h1 class="text-2xl font-bold leading-relaxed">TEST WEBSITE</h1>
        </div>

    <div class="pt-8">
        
    </div>
    </div>
</body>
</html>